html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main {
  font-size: 0;
}

.outer-box {
  margin-top: 90px;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.inline {
  display: inline-block;
  border: 1px solid black;
}

.first-row {
  height: 200px;
  width: 50%;
}

.second-row {
  height: 300px;
  width: 33.333%;
}

.inline-green {
  background-color: green;
}

.inline-blue {
  background-color: blue;
}

.inline-grey {
  background-color: grey;
}

.inline-black {
  background-color: black;
}

.inline-orange {
  background-color: orange;
}
